@import 'theme';
@import 'vendor';

.project-container {
  margin-top: 60px;
  min-height: 100vh;
  margin-bottom: 100px;

  .project-menu-container{
      width: 98%;
      margin: 0 1% 1% 1%;
      padding: 1%;
      @media only screen and (min-width: 1024px){
        width: 90%;
        margin: 0 5% 1% 5%;
        padding: 0 2%;
      }

      .portfolio-img-container{
        width: 96%;
        margin: 2%;
        float: left;
        @media only screen and (min-width: 480px){
          width: 48%;
          margin: 1%;
        }
        @media only screen and (min-width: 1024px){
          width: 29%;
          margin: 2%;
        }
      }

      // Responsive squares
      .square {
        position: relative;
        border: 2px solid $app-nav;
        width: 100%;
        background-position: center;
        background-size: cover;
        @media only screen and (min-width: 480px){
          background-size: 200%;
        }
      }

      .square:after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }

      .img-hover {
        display: flex;
        position: absolute;
        text-align: center;
        align-items: center;
        padding: 0 1.5%;
        height: 100%;
        width: 100%;
        opacity: 1;
        color: $app-bright-white;
        background: $app-nav;
        //background: linear-gradient($app-gradient2, $app-secondary);
        transition: all 0.5s;
        z-index: 20;

        // Vertically align content over image
        .content-wrap{
          width: 100%;
          height: 100%;

          hr{
            margin-bottom: 20px;
          }

          h3 {
            font-family: $app-font3;
            font-size: 120%;
            color: $app-bright-white;
            @media only screen and (min-width: 768px){
              font-size: 180%;
            }
          }
          // Description font styles
          h5 {
            font-size: 100%;
            font-style: italic;
            color: $app-bright-white;
            @media only screen and (min-width: 768px){
              font-size: 160%;
            }
          }
          h6 {
            font-size: 100%;
            color: $app-bright-white;
            @media only screen and (min-width: 768px){
              font-size: 160%;
            }
          }

          .zoom-icon {
            margin: 1% 0;
            font-size: 50px;
            background-color: transparent;
            transition: .2s;
            cursor: pointer;
          }
          .zoom-icon:hover{
            color: $app-secondary;
          }
        }
      }
      // On hover, show title and description
      .img-hover:hover{
        opacity: 1;
      }


      h4{
        font-size: 120%;
        font-family: $app-font3;
        color: $app-bright-white;
        @media only screen and (min-width: 480px){
          font-size: 150%;
        }
        @media only screen and (min-width: 768px){
          font-size: 200%;
        }
        @media only screen and (min-width: 1042px){
          font-size: 230%;
        }
      }
      h5{
        font-size: 100%;
        font-family: $app-font2;
        font-style: italic;
        color: $app-white;
        @media only screen and (min-width: 768px){
          font-size: 150%;
        }
      }
    }
  } // end project menu container

  .active-menu{
    display:none;
    width: 32%;
    float: left;
    border: 3px solid $app-nav;
    padding: 1%;
    margin: 0 .5% 2% .5%;
    cursor: pointer;
    h4{
      text-align: center;
      font-size: 80%;
      color: $app-nav;
      @media only screen and (min-width: 768px){
        font-size: 120%;
      }
      @media only screen and (min-width: 1024px){
        font-size: 150%;
      }
    }
  }
  // Styles applied when nav image is clicked on
  .active{
    // Make title and underline disappear
    width: 100%;
    h3{ display:none;}
    hr{ display:none;}
    .square{
      display:none;
    }
    .active-menu{
      display: block;
    }
  }

  .info-container{
    width: 90%;
    margin: 3% 5%;
    padding: 1%;
    @media only screen and (min-width: 768px){
      width: 70%;
      margin: 3% 15%;
    }
    // adds extra space between columns in summary/tools
    .extra-space{
      margin-right: 30px;
    }
    h4{
      padding: 1%;
      font-size: 180%;
      font-family: $app-font3;
      color: $app-bright-white;
      border-bottom: 3px solid $app-nav;
      @media only screen and (min-width: 480px){
        font-size: 220%;
      }
      @media only screen and (min-width: 768px){
        font-size: 300%;
      }
      span{float: right;}
      .info-icon{
        margin-left: 40px;
      }
    }
    h5{
      font-size: 130%;
      font-family: $app-font3;
      text-transform: uppercase;
      color: $app-bright-white;
      @media only screen and (min-width: 480px){
        font-size: 150%;
      }
      @media only screen and (min-width: 768px){
        font-size: 200%;
      }
    }
    .info-body-container{
      padding:1% 3%;
      p{
        letter-spacing: .1px;
        font-size: 140%;
        color: $app-white;
      }
      .project-link{
        text-decoration: underline;
        padding: 2px;
      }
      .project-image-container{
        .project-image{
          width: 99%;
          margin: 1%;
        }
        .project-image2{
          float: left;
          width: 48%;
          margin: 1%;
        }
      }
    } // end info-body-container

  } // end info-container
