@import 'theme';
@import 'vendor';

.project-container {
  margin-top: 60px;
  min-height: 100vh;
  margin-bottom: 100px;
  h3{
    margin-top: 40px;
    font-size: 320%;
    padding: 2%;
    text-align: center;
  }
  .project-menu-container{
      width: 90%;
      margin: 3% 5%;
      padding: 1%;
      h4{ font-size: 130%;}
      h5{
        font-size: 90%;
        font-style: italic;
        color: $app-offwhite;

      }
    .project-menu{
      float:left;
      width: 31%;
      margin: 1%;
      text-align: center;
      @media only screen and (min-width: 900px){
      }
      .project-icon{
        font-size: 120px;
      }
    }
  }
  .active{
    width: 100%;
    border-bottom: 2px solid rgba(255,255,255,.3);
    h3{
      padding: 7%;
      margin:0;
      font-size: 200%;
    }
    hr{display:none;}
    .row{
      float:left;
      width: 48%;
      margin:0 1%;
    }
    .project-menu-container{
      margin:0;
      padding: 0;
      h4{
        font-size: 90%;
        margin:0;
        color: $app-offwhite;
      }
      h5 {display:none;}
    .project-menu{
      padding: 4% 0%;
      margin: 0;
      .project-icon{
        font-size: 45px;
      }
    }
  }
}

  .info-container{
    width: 70%;
    margin: 3% 15%;
    padding: 1%;

    h4{
      font-size: 300%;
      padding: 1%;
      border-bottom: 1px solid $app-offwhite;
      span{float: right;}
      .info-icon{margin-left: 20px;}
    }
    h5{
      font-size: 200%;
      text-transform: uppercase;
    }
    .info-body-container{
      padding:1% 3%;
      p{
        font-size: 110%;
        color: $app-offwhite;
      }
    }
  }
}
