@import 'theme';
@import 'vendor';

.project-container {
  margin-top: 60px;
  min-height: 100vh;
  margin-bottom: 100px;
  h3{
    font-family: $title-font5;
    color: $app-bright-white;
    margin-top: 40px;
    font-size: 270%;
    padding: 2%;
    text-align: center;
    @media only screen and (min-width: 768px){
      font-size: 330%;
    }
    @media only screen and (min-width: 1024px){
      font-size: 370%;
    }
  }
  .project-menu-container{
      width: 90%;
      margin: 0 5% 1% 5%;
      padding: 1%;
      @media only screen and (min-width: 1024px){
        width: 80%;
        margin: 0 10% 1% 10%;
        padding: 0 2%;
      }
      h4{
        font-size: 120%;
        font-family: $app-font3;
        color: $app-bright-white;
        @media only screen and (min-width: 480px){
          font-size: 150%;
        }
        @media only screen and (min-width: 768px){
          font-size: 200%;
        }
        @media only screen and (min-width: 1042px){
          font-size: 230%;
        }
      }
      h5{
        font-size: 100%;
        font-family: $app-font2;
        font-style: italic;
        color: $app-white;
        @media only screen and (min-width: 768px){
          font-size: 150%;
        }
      }
    .project-menu{
      float:left;
      width: 31%;
      margin: 1%;
      padding: 1% 3%;
      text-align: center;
      // Responsive circles
      .circle-image {
        position: relative;
        border: 5px solid $app-nav;
        padding: 3%;
        width: 100%;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        cursor: pointer;
      }
      .circle-image:after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
      .circle-image:hover{
          background: linear-gradient($app-gradient2, $app-secondary);
      }
    }
  }
  // Styles applied when nav image is clicked on
  .active{
    // Make title and underline disappear
    width: 100%;
    h3{ display:none;}
    hr{ display:none; }
    // menu images get smaller and more centered
  .project-menu-container{
    margin:0;
    width: 100%;
    padding: 1%;
    a.project-menu{
      border: 3px solid $app-nav;
      cursor: pointer;
      h4{
        font-size: 80%;
        color: $app-white;
        @media only screen and (min-width: 768px){
          font-size: 120%;
        }
        @media only screen and (min-width: 1024px){
          font-size: 150%;
        }
      }
    }
    a.project-menu:hover{
      h4{
        color: $app-bright-white;
      }
    }
    .circle-image{
      display:none;
    }
    h5{ display:none; }
  }
}

  .info-container{
    width: 90%;
    margin: 3% 5%;
    padding: 1%;
    @media only screen and (min-width: 768px){
      width: 70%;
      margin: 3% 15%;
    }
    // adds extra space between columns in summary/tools
    .extra-space{
      margin-right: 30px;
    }
    h4{
      padding: 1%;
      font-size: 180%;
      font-family: $app-font3;
      color: $app-bright-white;
      border-bottom: 3px solid $app-nav;
      @media only screen and (min-width: 480px){
        font-size: 220%;
      }
      @media only screen and (min-width: 768px){
        font-size: 300%;
      }
      span{float: right;}
      .info-icon{margin-left: 20px;}
    }
    h5{
      font-size: 130%;
      font-family: $app-font3;
      text-transform: uppercase;
      color: $app-bright-white;
      @media only screen and (min-width: 480px){
        font-size: 150%;
      }
      @media only screen and (min-width: 768px){
        font-size: 200%;
      }
    }
    .info-body-container{
      padding:1% 3%;
      p{
        letter-spacing: .1px;
        font-size: 130%;
        color: $app-white;
      }
    }
  }
}
