<main class="project-container">
  <div class="row">
    <h3>Selected Projects</h3>
    <hr class="gradient">
  </div>

  <div class="row">
    <div class="project-icon-container">

      <a class="project-icon">
        <span class="icon"><i class="icon-basic-globe"></i></span>
        <h4>Pup Tracker</h4>
        <h5>Full Stack App</h5>

      </a>

      <a class="project-icon">
        <span class="icon"><i class="icon-basic-calculator"></i></span>
        <h4>3D Engine</h4>
        <h5>Javascript and Canvas</h5>
      </a>

      <a class="project-icon">
        <span class="icon"><i class="icon-basic-lightbulb"></i></span>
        <h4>[art-c]</h4>
        <h5>Full Stack App</h5>
      </a>

    </div>
  </div>

</main>
