<div class="row">
  <div class="info-container">
    <h4>3D Engine
      <span class="info-icon"><a href="https://github.com/loomnugget/js-3d-experiment"><i class="fa fa-github icon2"></i></a><span>
      <span class="info-icon"><a href="http://codepen.io/ploom/pen/LRvzOk"><i class="fa fa-codepen icon2"></i></a><span>
    </h4>
      <div class="info-body-container">
        <div class="row">
          <div class="col span-1-of-2">
            <h5>Summary</h5>
            <p class="extra-space">3D physics engine using Vanilla Javascript and HTML5 Canvas</p>
          </div>
          <div class="col span-1-of-2">
            <h5>Tools</h5>
            <p>React, Node, HTML5 Canvas</p>
          </div>
        </div>
      <div class="row">
        <h5>About / Goals</h5>
        <p>I was initially inspired by the <a class="project-link" href="https://www.chromeexperiments.com/"> chrome canvas experiments</a> and wanted to make some quick animations for front end design.
          I found that the logic behind the magic was pretty involved, and this quickly turned into a small 3D library project which
          served as mostly a learning experience that significantly boosted my programming skills.</p><br>

        <h5>Going Forward</h5>
        <p>I had a lot of fun working on this project and I'd really like to keep learning about 3D math/programming, focusing on web, not game, development,
           and continue working on shading, physics effects, folding algorithms and data structures visualizations and music visualizations.
           The main improvement that needs to be made is incorporating interactivity so these concepts can be incorporated into user experiences.
        </p><br>
      </div>
      <div class="row">
        <h5>Images</h5>
          <div class="project-image-container">
            <img class="project-image2" src="../../scss/lib/img/3d1.jpg" alt="3dengine-image1">
            <img class="project-image2" src="../../scss/lib/img/3d3.jpg" alt="3dengine-image3">
          </div>
      </div>
    </div>
  </div>
</div>
