<div class="row">
  <div class="info-container">
    <h4>[art-c]
      <span class="info-icon"><a href="https://art-c.herokuapp.com/"><i class="fa fa-external-link-square icon2"></i></a></span>
      <span class="info-icon"><a href="https://github.com/loomnugget/art-c"><i class="fa fa-github icon2"></i></a><span>
    </h4>
      <div class="info-body-container">
        <div class="row">
          <div class="col span-1-of-2">
            <h5>Summary</h5>
            <p class="extra-space">REST API that allows artists to share and sell work in their community.</p>
          </div>
          <div class="col span-1-of-2">
            <h5>Dates</h5>
            <p>October 2016 - November 2016</p>
            <h5>Tools</h5>
            <p>Node, Angular, Webpack, Express, AWS S3, Bootstrap</p>
          </div>
        </div>
      <div class="row">
        <h5>About</h5>
        <p>This was a group project for a Code Fellows Javascript class.
          Working with local artists inspired the idea, and the app is intended to be somewhat like a curated Etsy that
          focuses on connecting local artists with each other and their community. We used AWS S3 to upload and store photos,
          and Google and Facebook oAuth to have the option to sign up with pre-existing accounts.
          Users can create, update and delete a profile, galleries, and listings as well as upload and delete photos for each.
        </p><br>
        <h5>Personal Contributions</h5>
        <p>As project leader, I worked on much of the layout and idea itself. I contributed to creating a functioning back end, testing, and
          front end functionality. I also did almost all of the styling and design.
        </p><br>
        <h5>Going Forward</h5>
        <p>Since we only had less than five days to work on this project, there is much room for improvement. Future goals include curated
          content, integrating the Stripe API to allow people to buy and sell, spotlighting artists, and favoriting items.
          I'd also like to spend some actual time working on the user interface.</p><br>
      </div>
        <div class="row">
          <h5>Images</h5>
            <div class="project-image-container">
              <img class="project-image" src="../../scss/lib/img/artc1.jpg" alt="artc-image1">
              <img class="project-image" src="../../scss/lib/img/artc2.jpg" alt="artc-image2">
            </div>
        </div>
    </div>
  </div>
</div>
