<div class="row">
  <div class="info-container">
  <h4>Pup Tracker<span class="info-icon"><a href="https://github.com/prungy88/puptracker"><i class="fa fa-github icon2"></i></a><span></h4>

    <div class="info-body-container">
      <div class="row">
        <div class="col span-1-of-2">
          <h5>Summary</h5>
          <p class="extra-space">Rest API used by research scientists to track mouse breeding patterns, plan experiments, and communicate more
            effectively with mouse breeders and project managers.</p>
        </div>
        <div class="col span-1-of-2">
          <h5>Dates</h5>
          <p>February 2016 - Present</p>
          <h5>Tools</h5>
          <p>Node, Angular, Webpack, Express, Angular UI Calendar, Bootstrap</p>
        </div>
      </div>
    <div class="row">
      </p><br>
      <h5>About</h5>
      <p>The research team utilizes an SQL database to input information about mouse breeding cycles and their genetic makeup.
        Breeders and lab managers need to be able to have this information readily available to relay to researchers planning projects.
        The projects are large and have many lines of mice (mice of different genotypes). Each line of mice has a group of cages used to
        produce offspring (pups) that have desired genotypes, each which contains one or two females and a male. Researchers need to know
        a rough estimate of when mice of certain genotypes will be available and how many to expect per month.
        <br><br>
        They wanted to be able input information into the app and utilize dropdown menus that allow them to select the appropriate project,
        line, and cage and create/update models of each. Models are updated as information is known to the research team and stored and organized in the app.
        This updated information is used to calculate various properties that will be displayed when a line is selected.
      </p><br>
      <h5>Goals</h5>
      <p> 1. Use a calendar to visualize when mice of certain genotypes are going to be born.<br><br>
        2. Calculate expected number of usable offspring and breeding end dates based on user inputs.<br><br>
        3. Be able to create, update and remove project information.</p><br>
      <h5>Going Forward</h5>
      <p>There is a huge amount of potential for this project. After the core goals are met, the plan is to have additional data visualizations and to automate more tasks.</p><br>
    </div>
    <div class="row">
      <h5>Preview</h5>
        <div class="project-image-container">
          <img class="project-image" src="../../scss/lib/img/pup2.jpg" alt="puptracker-image2">
        </div>
    </div>
  </div>
</div>
</div>
