@import "theme";

.portfolio {
  margin-top: 60px;
  padding: 0 3%;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  background-color: $app-black;

  .active{
    background-color: rgba(255,255,255,.1);
    color: $app-bright-white;
  }
  // Toggle Images Navigation
  .navigation{
    width: 100%;
    margin:0;
    padding:0;
    color:rgba(255,255,255,.5);

    .menu-item {
      width: 32%;
      margin: 2.5% .66666667% 1.5% .66666667%;
      float: left;
      display:block;
      cursor: pointer;
      border: 3px solid $app-offwhite;

      // Title Menu Header
      h2 {
        z-index: 12;
        text-transform: uppercase;
        text-align: center;
        font-size: 160%;
        margin-bottom: 15px;
        padding: 2%;
        cursor: pointer;
      }
      @media only screen and (min-width: 900px){
        h2{
          font-size: 250%;
        }
      }
    }
  }
}

.art-portfolio-container {
  background-color: $app-black;
  .portfolio-container{
    width: 99%;
    margin: .5%;
  }
  .portfolio-img-container{
    width: 96%;
    margin: 2%;
    float: left;
    @media only screen and (min-width: 480px){
      width: 48%;
      margin: 1%;
    }
    @media only screen and (min-width: 1024px){
      width: 24%;
      margin: .5%;
    }
  }

  // Responsive squares
  .square {
    position: relative;
    border: 2px solid $app-black;
    width: 100%;
    background-position: center;
    background-size: cover;
  }

  .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .img-hover {
    display: flex;
    position: absolute;
    text-align: center;
    align-items: center;
    padding: 1.5%;
    height: 100%;
    width: 100%;
    opacity: 0;
    color: $app-black;
    background: rgba(255, 255, 255, .9);
    transition: all 0.5s;
    z-index: 20;

    // Vertically align content over image
    .content-wrap{
      width: 100%;

      // Title font styles
      h3 {
        font-style: $app-font;
        font-size: 400%;
        color: $app-black;
        @media only screen and (min-width: 768px){
          font-size: 210%;
        }
      }
      // Description font styles
      h4 {
        font-size: 180%;
        font-style: italic;
        color: $app-black;
      }
      // Modal open icon styls
      .zoom-icon {
        margin: 1% 0;
        font-size: 60px;
        background-color: transparent;
        transition: .2s;
        cursor: pointer;
      }
      .zoom-icon:hover{
        color: $app-secondary;
      }
    }
  }
  // On hover, show title and description
  .img-hover:hover{
    opacity: 1;
  }

}
