<main class="portfolio">

  <div class="row">
    <h2 class="title">Art</h2>
    <hr class="dark-line">
  </div>

    <div class="navigation clearfix">
      <div class="menu-item" ng-class="{'active': portfolioCtrl.isActive1}" ng-click="myFilter = category; portfolioCtrl.isActive(1)">
        <h2>All</h2>
      </div>
      <div class="menu-item" ng-class="{'active': portfolioCtrl.isActive2}" ng-click="myFilter = {category: 'Drawing'}; portfolioCtrl.isActive(2)">
        <h2>Drawing</h2>
      </div>
      <div class="menu-item" ng-class="{'active': portfolioCtrl.isActive3}" ng-click="myFilter = {category: 'Painting'}; portfolioCtrl.isActive(3)">
        <h2>Painting</h2>
      </div>
  </div>

  <section class="art-portfolio-container">
    <!-- Image Gallery -->
    <div class="portfolio-container clearfix">
      <div class="portfolio-img-container"
       ng-repeat="item in portfolioCtrl.items | filter:myFilter"
       item="portfolioCtrl.currentItem">
        <div class="square" ng-style="{'background-image': 'url({{item.url}})'}">
            <div class="img-hover border">
              <div class="content-wrap">
                <h3><strong>{{item.title}}</strong></h3>
                <h5>{{item.category}}</h5>
                <span class="zoom-icon"><i class="icon-basic-magnifier-plus" ng-click="portfolioCtrl.open(item)"></i></span>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
  <div class="push"></div>
</main>
