@import "theme";

.art-portfolio-container {
  background-color: $app-black;
  .portfolio-container{
    width: 99%;
    margin: .5%;
  }

  .portfolio-img-container{
    width: 98%;
    margin: 1%;
    float: left;
    @media only screen and (min-width: 600px){
      width: 48%;
      margin: 1%;
    }
    @media only screen and (min-width: 1100px){
      width: 24%;
      margin: .5%;
    }
  }

  // Responsive squares
  .square {
    position: relative;
    border: 1px solid #fff;
    width: 100%;
    background-position: center;
  }

  .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .hover-text {
    z-index: 20;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    color: $app-black;
    border: 2px solid $app-black;
    background: rgba(255, 255, 255, .9);
    padding: 10%;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;

    h3 {
      color: $app-black;
      font-style: $app-font2;
      font-size: 400%;
    }
    h4{
      font-size: 200%;
      font-style: italic;
      color: $app-black;
    }
    .modal-icon {
      font-size: 60px;
      margin: 1% 0;
      background-color: transparent;
      color: $app-black;
      transition: .2s;
      cursor: pointer;
    }
    .modal-icon:hover{
      color: $app-secondary;
    }
  }
  .hover-text:hover{
    opacity: 1;
  }

}
