@import "theme";
@import "vendor";

.about{
  height: 100vh;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 0 3%;
  .border{
    padding: 3% 2%;
    border: 2px dotted $app-nav;
    background-color: $app-black;
  }
  .about-container{
    padding: 3%;
    width: 100%;
    margin: 1%;
    @media only screen and (min-width: 768px){
      width: 80%;
      margin: 1% 10%;
    }
    h4{
      text-align: center;
      font-size: 200%;
    }
    h6{
      text-align: center;
      font-size: 160%;
      margin: 3% 0;
      padding: 1%;
      font-family: $app-font3;
      text-transform: uppercase;
      font-size: 240%;
      @media only screen and (min-width: 760px){
        font-size: 300%;
      }
    }
    p{
      width: 80%;
      margin: 1% 10%;
      text-align: center;
      font-size: 110%;
      font-family: $app-font3;
      @media only screen and (min-width: 768px){
        font-size: 130%;
      }
    }
    .about-icon-container{
      width: 70%;
      margin: 1% 15%;
      .about-icon{
        float:right;
        width: 33.33333%;
        text-align: center;
        font-size: 30px;
        padding: 25px 32px;
        transition: .2s;
      }
    }
  }
}
