@import "theme";

.about{
  margin-top: 50px;
  .about-container{
    padding: 5% 2%;
    width: 100%;
    margin: 1% 0;
    @media only screen and (min-width: 800px){
      width: 80%;
      margin: 1% 10%;
    }
    .title{
      text-align: center;
      text-transform: uppercase;
      font-family: $title-font5;
      font-size: 400%;
    }
    p{
      text-align: center;
      font-size: 160%;
      font-family: $app-font3;
    }
    .bottom-space{
      margin-bottom: 100px;
    }
  }
}
