<main class="about">

  <div class = "about-container">
    <div class="row">
      <h3 class="title gradient-text">About</h3>
      <p>I’m a software developer who loves combining art and technology. I enjoy creating
      experiences that are unique and special while still functional and easy to use.</p>
      <p>I'm interested in user experience design, functional art, data visualization and creative coding.</p>
    </div>
      <div class="row">
        <h5 class="gradient-text">claudia.cedfeldt@gmail.com</h5>
      </div>
      <div class="row">
        <div class="about-icon-container">
          <span><a href="https://github.com/loomnugget">
          <i class="fa fa-github about-icon icon2 github"></i></a></span>
          <span><a href="http://codepen.io/ploom">
          <i class="fa fa-codepen about-icon icon2 codepen"></i></a></span>
          <span><a href="http://linkedin.com/in/claudia-cedfeldt">
          <i class="fa fa-linkedin about-icon icon2"></i></a></span>
        </div>
      </div>
    </div>
  </div>

</main>
