<main class="about">

  <!-- About-->
<div class="about-container">
  <!-- Intro -->
  <div class="row intro-container">
      <h3>About Me</h3>
      <div class="span-container">
        <span><i class="fa fa-diamond"></i><span>
      </div>
      <h4>I’m a software developer specializing in javascript who loves building unique things
        and creative expression through functional programming and various art mediums. I love
        the challenge of working within constraints and making clean yet unique websites
        that are both easy to use and fun to interact with.
      </h4>
  </div>
  <!-- Icons -->

    <!-- <div class="row">
      <div class="span-container">
        <span><i class="fa fa-github about-icon"></i></span>
        <span><i class="fa fa-codepen about-icon"></i></span>
        <span><i class="fa fa-linkedin about-icon"></i></span>
        <span><i class="fa fa-linkedin about-icon"></i></span>
      </div>
    </div> -->


  <!-- Skills -->
  <div class="skills-container">
    <div class="text-container">
      <div class="row">
        <div class="col span-1-of-2">
          <h3>Skills</h3>
          <h4><span>Proficient: </span>Javascript/ES6, AngularJS, Node.js, Express, Webpack, Mocha,
            Chai, HTML, CSS, Sass, Responsive Design, jQuery, Bootstrap, UX/UI, Git, AWS S3, OAuth</p>
            </br>
          <h4><span>Interested in learning more: </span>C++, Python, React.js, Data Visualization, VR</p>
        </div>

          <div class="col span-1-of-2">
          <h3>Education</h3>
            <h4><span>Code Fellows | Seattle, WA | 2016</span></h4>
            <h4>Advanced Javascript Software Development Certificate</h4>
          </br>
            <h4><span>SUNY Geneseo | Geneseo, NY | 2013</span></h4>
            <h4>Bachelor’s of Science, Biology</h4>
          </div>
      </div>
    </div>
  </div>

</div><!-- end about-->
</main>
