<main class="about star-bg">
  <div class="about-container">
    <!-- row 1 -->
    <div class="row">
      <h3 class="title">About</h3>
      <hr class="dark-line">
    </div>

    <div class="row">
      <div class="border">
        <p>I'm a Seattle based developer who loves the challenge of building
          unique, effective user experiences and pushing the limits on design. I want to make the world a more beautiful place and believe
        the intersection between technology and artistic principles can accomplish this.
        <br><br>
        I found a passion for software and web development while building a freelance design buisness, and have since aimed to
        combine challenging technical principles with my previous background in the arts.
        <br><br>
        I draw inspiration from geometry and patterns found in nature and my artistic work ranges form drawing, jewelry design,
        acrylic, paper sculpture, lighting design and of course web design. Combined with a technical background and aptitude for
        programming, I am able to bring visions to life from start to finish.
      </p>
    </div>
    </div>

    </div>
  </div>
</main>
