@import "theme";
.contact{
  margin-top: 60px;
  padding: 0 3%;
  .success{
    width: 80%;
    margin: 0 10%;
    padding-top: 25%;
    h3{
      font-size: 180%;
      text-align: center;
      font-family: $app-font3;
      color: $app-bright-white;
      @media only screen and (min-width: 480px){
        font-size: 250%;
      }
      @media only screen and (min-width: 768px){
        font-size: 300%;
      }
    }
    @media only screen and (min-width: 480px){
      width: 60%;
      margin: 0 20%;
      padding-top: 20%;
    }
    @media only screen and (min-width: 1024px){
      width: 40%;
      margin: 0 30%;
      padding-top: 10%;
    }

  }
  .contactForm {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 90%;
    margin: 0 5%;
    padding: 3%;
    border: 2px solid $app-white;
    border-radius: 5px;
    @media only screen and (min-width: 768px){
      width: 60%;
      margin: 0 20%;
    }

    h3{
      font-size: 300%;
      margin-bottom: 20px;
      font-family: $app-font3;
      color: $app-bright-white;
    }
    h5{
      font-size: 130%;
      font-family: $app-font3;
    }
    .submit-btn {
      margin-top: 10px;
      color: $app-black;
      border: 2px solid $app-black;
      font-family: $app-font3;
      font-size: 18px;
      padding: 7px 15px;
      background: linear-gradient($app-gradient2, $app-secondary);
      border-radius: 16px;
      transition: .5s;
      cursor: pointer;
    }
    .submit-btn:hover{
      background: linear-gradient($app-secondary, $app-secondary-hover);
    }
    .form-group {
      position:relative;

    }
    input, textarea{
      font-size:14px;
      padding:10px 6px;
      display:block;
      border-radius: 5px;
      color: $app-white;
      border: 2px solid $app-offwhite;
      font-family: $app-font3;
      background-color: $app-black;
      width: 100%;
      margin: 5px 0;
      }
    input:focus, textarea:focus{ outline:none; }

    .input-group{
      padding:0;
      margin:0;
    }

    label{
      color:$app-white;
      font-family: $app-font3;
      pointer-events:none;
      font-size:16px;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    //Changes Placeholder Color
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
      color: $app-white;
    }
    .error{
      color: $app-error-hover;
      font-family: $app-font3;
    }
  }
}
