@import "theme";
.contact{
  margin-top: 60px;
  .success{
    position: absolute;
    top: 30%;
    transform: translate(0, -50%);
    width: 60%;
    margin: 0 20%;
    display: inline-block;
    h3{
      font-size: 300%;
      text-align: center;
    }
  }
  .contactForm {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 90%;
    margin: 0 5%;
    padding: 3%;
    border: 2px solid $app-offwhite;
    border-radius: 5px;
    @media only screen and (min-width: 768px){
      width: 60%;
      margin: 0 20%;
    }

    h3{
      font-size: 300%;
      margin-bottom: 20px;
      font-family: $app-font3;
    }
    .submit-btn {
      margin-top: 5px;
      color: $app-black;
      border: 2px solid $app-black;
      font-family: $app-font3;
      font-size: 16px;
      padding: 10px 20px;
      background: linear-gradient($app-gradient2, $app-secondary);
      border-radius: 16px;
      transition: .5s;
      cursor: pointer;
    }
    .submit-btn:hover{
      background: linear-gradient($app-secondary, $app-secondary-hover);
    }
    .form-group {
      position:relative;

    }
    input, textarea{
      font-size:14px;
      padding:10px 6px;
      display:block;
      border-radius: 5px;
      color: $app-white2;
      border: 2px solid $app-offwhite;
      background-color: $app-black;
      width: 100%;
      margin: 5px 0;
      }
    input:focus, textarea:focus{ outline:none; }

    .input-group{
      padding:0;
      margin:0;
    }

    label{
      color:$app-offwhite;
      pointer-events:none;
      font-size:16px;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    //Changes Placeholder Color
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
      color: $app-white;
    }
    .error{
      color: $app-error-hover;
    }
    span.error{
      margin: 5px 0;
      padding: .5% 1%;
      background-color: $app-error;
      color: $app-bright-white;
    }

  }
}
