@import "theme";
.contact{
  .contactForm {
    width: 60%;
    margin: 10% 20%;
    padding: 3%;
    border: 2px solid $app-offwhite;
    h3{
      font-size: 300%;
    }
    .submit-btn {
      margin-top: 5px;
      color: $app-black;
      font-family: $app-font2;
      font-size: 14px;
      background: linear-gradient(#FAFFD1, #A1FFCE);
      border-radius: 14px;
      transition: .5s;
      cursor: pointer;
    }
    .submit-btn:hover{
      background: linear-gradient(#A1FFCE, $app-secondary);
    }
    .group {
      position:relative;
      margin-top:25px;
    }
    input, textarea{
      font-size:12px;
      padding:10px 6px;
      display:block;
      border-radius: 15px;
      color: $app-white;
      border: 2px solid $app-white;
      background-color: $app-black;
      width: 100%;
      margin-bottom: 10px;
      }
    input:focus, textarea:focus{ outline:none; }

    .input-group{
      padding:0;
      margin:0;
    }

    label{
      color:$app-white;
      pointer-events:none;
      font-size:16px;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    //Changes Placeholder Color
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
      color: $app-white;
    }
  }
}
