<main class="contact">
  <form
    novalidate
    class="contactForm"
    name="contactForm"
    data-ng-submit="contactCtrl.sendMail()">

    <h3 class="gradient-text">Contact Me</h3>

    <div class="form-group">
      <label>Name</label>
      <input
        required
        data-ng-model="contactCtrl.data.name"
        name="name"
        type="text"
        uib-tooltip="Name Required"
        tooltip-placement="bottom-right"
        tooltip-trigger="'focus'">
      </div>

    <div class="form-group">
      <label>Email</label>
      <input
        required
        data-ng-model="contactCtrl.data.email"
        name="email"
        type="text"
        uib-tooltip="Email Required"
        tooltip-placement="bottom-right"
        tooltip-trigger="'focus'">
        <span class="label label-danger" data-ng-show="submitted && helpForm.email.$error.required">Required!</span>
        <span class="label label-danger" data-ng-show="submitted && helpForm.$error.email">Invalid email!</span>
      </div>

    <div class="form-group">
      <label>Message</label>
      <textarea name="message" data-ng-model="contactCtrl.data.message" type="text"></textarea>
    </div>

  <button class="btn submit-btn" type="submit"> Submit </button>
  </form>
</main>
