<main class="contact">

  <div class="circle-container">
    <div class="circle"></div>
      <div class="textbox">
      <div class="row">
        <h2>Want to work with me?</h2>
        <h3>Send me a message: <span> claudia.cedfeldt@gmail.com </span></h3>
        <h3>Or find me on the interwebs:</h3>
      </div>

      <div class="row">
        <div class="span-container">
          <span><a href="https://github.com/loomnugget">
          <i class="fa fa-github contact-icon github"></i></a></span>
          <span><a href="http://codepen.io/ploom">
          <i class="fa fa-codepen contact-icon codepen"></i></a></span>
          <span><a href="http://linkedin.com/in/claudia-cedfeldt">
          <i class="fa fa-linkedin contact-icon"></i></a></span>
        </div>
      </div>
    </div>
  </div>
</main>
