<main class="contact">
  <span class="success" ng-if="contactCtrl.showSuccessMessage">Thank you! Your form has been submitted! Refreshing page...</span>
<!-- ng-if="contactCtrl.showSuccessMessage" -->
  <form
    novalidate
    class="contactForm"
    name="contactForm"
    data-ng-submit="contactCtrl.sendMail()">

    <h3 class="gradient-text">Contact Me</h3>
    <!-- <div class="success"></div> -->

    <div class="form-group">
      <label>Name</label>
      <input
        required
        data-ng-model="contactCtrl.data.name"
        name="name"
        type="text">
      <span class="error" data-ng-show="contactForm.name.$dirty && contactForm.name.$error.required">Name is Required</span>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input
        required
        data-ng-model="contactCtrl.data.email"
        name="email"
        type="text">
        <span class="error" data-ng-show="contactForm.email.$dirty &&contactForm.email.$error.required">Email is Required</span>
        <!-- <span class="error" data-ng-show="contactCtrl.submitted && contactForm.$error.email">Invalid Email</span> -->
      </div>

    <div class="form-group">
      <label>Message</label>
      <textarea required name="message" data-ng-model="contactCtrl.data.message" type="text"></textarea>
      <span class="error" data-ng-show="contactForm.message.$dirty && contactForm.message.$error.required">Message is Required</span>
    </div>

  <button class="btn submit-btn" ng-disabled="contactForm.$invalid" type="submit"> Submit </button>

  </form>
</main>
