@import "theme";
@import "vendor";

.modal-container{
  padding: 5%;
  img{
    width: 100%;
    border: 5px solid $app-black;
  }
  .modal-header{
    border: none;
  }
  .modal-title-container{
    text-transform: uppercase;
    h3{
      color: $app-black;
      font-family: $app-font3;
      margin-top: 0;
      font-size: 200%;
    }
    h4{
      color: $app-nav;
      font-style: italic;
    }
  }
  .modal-icon {
    font-size: 30px;
    background-color: transparent;
    transition: .2s;
    cursor: pointer;
    color: $app-bright-white;
  }
  .modal-close{
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 2%;
    padding-right: 2%;
  }
  .center{
    padding: 0 30%;
  }
}
