@import "theme";

.code-portfolio-container {
  height: 100vh;
  background-color: $app-white;
  color: $app-black;
  padding-top: 2%;
  .row, .col, .span-1-of-2{
    padding:0;
    margin:0;
  }
  h2 {
    text-alig:center;
    text-transform: uppercase;
  }

  hr {
    text-align: center;
    border: 2px solid $app-black;
  }

  .project-container{
    width: 80%;
    margin: 0 10%;
    @media only screen and (min-width: 900px){
      width: 70%;
      margin: 0 15%;
    }

  }
  .project{
    padding: 2%;
    margin-left: 2%;
    h2{
      font-size: 350%;
    }
    p {
      font-size: 100%;
      font-weight: 300;
      letter-spacing: .5px;
      @media only screen and (min-width: 900px){
        font-size: 110%;
      }
      span{
        font-weight: bold;
        text-transform: uppercase;
        margin:0;
      }
    }
  }

  .project-icon{
    font-size: 2.5em;
    border-radius: 100%;
    padding: 20px 24px;
    margin: 1% 2%;
    background-color: $app-black;
    color: $app-white;
    transition: .2s;
  }
  .codepen{
    padding: 20px;
  }

  .project-icon:hover{
    background-color: $app-secondary;
  }
}
