<section class="code-portfolio-container">

  <!-- Project Container -->
  <div class="project-container">
    <!-- 3D Project -->
      <div class="project">
        <h2>3d Engine</h2>
        <h3>
          <p><span>Summary: </span>Generates rotating 3D polyhedra models using JavaScript and HTML5 Canvas</p>
          <p><span>Tools: </span>React.js, Vanilla Javascript, Node.js, Webpack</p>
        <h3>

        <a href="https://github.com/loomnugget/js-3d-experiment">
        <span><i class="fa fa-github project-icon github"></i></span></a>
        <a href="http://codepen.io/ploom/pen/LRvzOk">
        <span><i class="fa fa-codepen project-icon codepen"></i></span></a>
      </div>
      <hr>
      <!-- Art-c Project -->
      <div class="project">
        <h2>[art-c]</h2>
        <h3>
          <p><span>Summary: </span>Social media platform that allows local artists to display and share their work with others in their community.</p>
          <p><span>Tools: </span>Node.js, AngularJS, Webpack, Gulp.js, MongoDB, Bootstrap, AWS S3</p>
        <h3>
        <a href="https://github.com/loomnugget/art-c">
        <span><i class="fa fa-github project-icon github"></i></span></a>
      </div>
      
  </div>

</section>
