@import "theme";

.footer {
  width: 100%;
  background-color: $app-black;

  .footer-icon{
    float:right;
    font-size: 30px;
    padding: 25px 32px;
    transition: .2s;
    color: $app-nav;
  }

  p.footer-text{
    display:none;
    float: left;
    margin: 0;
    padding-left: 28px;
    padding-top: 32px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: $app-nav;
    @media only screen and (min-width: 768px){
      display: block;
    }
  }
}
