@import "theme";

.footer {
  width: 100%;
  background-color: $app-nav;

  .footer-icon{
    float:right;
    font-size: 30px;
    padding: 25px 32px;
    transition: .2s;
  }

  .footer-text{
    float: left;
    margin: 0;
    padding-left: 28px;
    padding-top: 32px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: $app-black;
  }
}
