@import "theme";

.landing {
  overflow: hidden;
  section{
    border-top: 2px solid $app-nav;
  }
  header {
    padding: 0;
    margin: 0;
    background-position: fixed;
    height: 100vh;
  }
  #container {
    position: relative;
  }
  #container canvas, #overlay {
    position: absolute;
    width: 100%;
  }
  .landing-title{
    margin-top: 50px;
    padding: 25% 5%;
    text-align: center;
    @media only screen and (min-width: 480px){
      padding: 20% 5%;
    }
    @media only screen and (min-width: 768px){
      padding: 15% 5%;
    }
    @media only screen and (min-width: 1024px){
      padding: 10% 5%;
    }
    h2{
      font-size: 300%;
      padding-bottom: 1%;
      text-transform: uppercase;
      font-family: $title-font5;
      color: $app-bright-white;

      @media only screen and (min-width: 480px){
        font-size: 500%;
      }
      @media only screen and (min-width: 768px){
        font-size: 600%;
      }
      @media only screen and (min-width: 1024px){
        font-size: 700%;
      }
    }
    h4{
      color: $app-bright-white;
      font-family: $app-font3;
      font-size: 250%;
    }
  }
  #canvas{
    width: 100%;
  }

  .landing-btn{
    width: 200px;
    height: 200px;
    border-radius:50%;
    border: 3px solid rgba(255, 255, 255, .5);
    letter-spacing: 1px;
    color: $app-bright-white;
    background: $app-black;
    font-family: $app-font3;
    font-size: 160%;
    cursor: pointer;
  }
  .landing-btn2{
    width: 100px;
    height: 100px;
    color: $app-bright-white;
    font-size: 70px;
  }

  .landing-btn:hover {
    border: 3px solid $app-bright-white;
  }

  .contact-icon{
    float:left;
    height: 100%;
    font-size: 70px;
    padding: 20px 24px;
    margin: 1% 0;
    background-color: transparent;
    color: $app-black;
    transition: .2s;
  }
  .contact-icon:hover{
    color: $app-white;
  }

  .services-container{
    width: 100%;
    padding: 5%;
    text-align: center;
    .about-icon{
      padding: 3%;
      margin: 1%;
      text-align: center;
      border: 2px solid $app-white;
      height: 300px;
      @media only screen and (min-width: 768px){
        height: 350px;
      }
    }
    .landing-icon {
      font-size: 80px;
      padding: 2%;
      margin: 1% 0;
      vertical-align: middle;
    }
    h4{
      font-family: $app-font3;
      font-size: 150%;
      color: $app-white;
      padding: 1%;
      @media only screen and (min-width: 1024px){
        font-size: 200%;
      }
    }
    p{
      font-family: $app-font3;
      font-size: 120%;
      color: $app-bright-white;
      padding: 2%;
    }
  }
  .work-container{
    background-image: url('../scss/lib/img/stars.jpg');
    text-align: center;
    padding: 5%;
  }
  .skills-container{
    padding: 3%;
  }
  .skills-icon-container{
    width: 100%;
    margin: 1% 0;
    text-align: center;
    @media only screen and (min-width: 480px){
      width: 90%;
      margin: 1% 5%;
    }
    .skills-icon{
      float: left;
      width: 16.6666667%;
      font-size: 60px;
      padding: 10px 15px;
      color: $app-white;
    }
  }
}
