@import "theme";

.landing {
  overflow: hidden;
  header {
    padding: 0;
    margin: 0;
    background-position: fixed;
    height: 100vh;
  }
  #container {
    position: relative;
  }
  #container canvas, #overlay {
    position: absolute;
    width: 100%;
  }
  .landing-title{
    margin-top: 50px;
    padding: 10% 5%;
    text-align: center;
    h2{
      font-size: 600%;
      text-transform: uppercase;
      font-family: $title-font5;
      color: rgba(255, 255, 255, .8);
    }
    h4{
      color: $app-bright-white;
      background-color: $app-black;
      font-size: 200%;
      font-style: italic;
    }
  }
  #canvas{
    width: 100%;
  }

  .landing-btn{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border-radius:50%;
    border: 3px solid rgba(255, 255, 255, .7);
    letter-spacing: 1px;
    color: $app-bright-white;
    background: $app-black;
    font-family: $app-font;
  }

  .landing-btn:hover {
    border: 3px solid $app-bright-white;
  }

  .contact-icon{
    float:left;
    height: 100%;
    font-size: 70px;
    padding: 20px 24px;
    margin: 1% 0;
    background-color: transparent;
    color: $app-black;
    transition: .2s;
  }
  .contact-icon:hover{
    color: $app-white;
  }

  .intro-box {
    width: 80%;
    padding-top: 40%;
    padding-left: 5%;
    text-transform: uppercase;
    font-family: $app-font2;
    @media only screen and (min-width: 600px){
      padding-top: 30%;
    }
    @media only screen and (min-width: 900px){
      padding-top: 17%;
    }
    h1 {
      color: $app-black;
      font-size: 300%;
      font-family: $title-font;
      letter-spacing: 3px;

      @media only screen and (min-width: 600px){
        font-size: 400%;
      }
      @media only screen and (min-width: 700px){
        font-size: 500%;
      }
      @media only screen and (min-width: 1000px){
        font-size: 700%;
      }
    }

    h4{
      font-size: 150%;
      margin-left: 2%;
      @media only screen and (min-width: 600px){
        font-size: 200%;
      }
    }
  }
}
