@import "theme";

.landing {
  header {
    padding: 0;
    margin: 0;
    background-position: fixed;
    height: 100vh;
  }
  #container {
  position: relative;
}
  #container canvas, #overlay {
    position: absolute;
  }
  #canvas{
    width: 100%;
    color: $app-bright-white;
    background: linear-gradient($app-secondary, $app-gradient2);
  }

  .landing-title{
    margin-top: 50px;
    font-size: 500%;
    text-transform: uppercase;
    font-family: $app-font;
    color: $app-black;
  }

  .landing-btn{
    border: 5px solid $app-black;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    font-color: $app-black;
    background: transparent;
    font-family: $app-font;
    padding: 12px 15px;
    margin-top: 10px;
  }

  .landing-btn:hover {
    background:rgba(255,255,255,.5);
  }

  .contact-icon{
    float:left;
    height: 100%;
    font-size: 70px;
    padding: 20px 24px;
    margin: 1% 0;
    background-color: transparent;
    color: $app-black;
    transition: .2s;
  }
  .contact-icon:hover{
    color: $app-white;
  }

  .intro-box {
    width: 80%;
    padding-top: 40%;
    padding-left: 5%;
    text-transform: uppercase;
    font-family: $app-font2;
    @media only screen and (min-width: 600px){
      padding-top: 30%;
    }
    @media only screen and (min-width: 900px){
      padding-top: 17%;
    }
    h1 {
      color: $app-black;
      font-size: 300%;
      font-family: $title-font;
      letter-spacing: 3px;

      @media only screen and (min-width: 600px){
        font-size: 400%;
      }
      @media only screen and (min-width: 700px){
        font-size: 500%;
      }
      @media only screen and (min-width: 1000px){
        font-size: 700%;
      }
    }

    h4{
      font-size: 150%;
      margin-left: 2%;
      @media only screen and (min-width: 600px){
        font-size: 200%;
      }
    }
  }
}
