<main class="landing">
  <header>
    <div id="container">
        <canvas id="canvas"></canvas>
      <div id="overlay" class="landing-title">
        <h2>Claudia<br>Cedfeldt</h2>
        <h4>Software Engineer | UI/UX</h4>
        <button ng-click="landingCtrl.scrollDown()" class="btn landing-btn2"><i class="fa fa-angle-down"></i></button>
      </div>
    </div>
  </header>

  <section class="services-container" id="scrollpoint">
    <div class="row">
      <div class="col span-1-of-3">
        <div class="about-icon">
          <i class="ion-code circle-icon"></i>
          <h4>Design Focused Development</h4>
          <p>Building user experiences from beginning to end.</p>
        </div>
      </div>

      <div class="col span-1-of-3">
        <div class="about-icon">
          <i class="ion-monitor circle-icon"></i>
          <h4>Responsive App Design</h4>
          <p>Detail oriented design that translates easily to any device.</p>
        </div>
      </div>

      <div class="col span-1-of-3">
        <div class="about-icon">
          <i class="ion-paintbrush circle-icon"></i>
          <h4>Functional Art</h4>
          <p>Using abstraction/realism to decorate things.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="work-container">
    <a href="#/projects"><button class="btn landing-btn">View<br>Projects</button></a>
  </section>

  <section class="skills-container">
    <div class="row">
      <div class="col span-1-of-3">
        <h3 class="title2">Technologies</h3>
      </div>
      <div class="col span-2-of-3">
        <div class="skills-icon-container clearfix">
          <span><i class="devicon-cplusplus-line skills-icon"></i></span>
          <span><i class="devicon-javascript-plain skills-icon"></i></span>
          <span><i class="devicon-angularjs-plain skills-icon"></i></span>
          <span><i class="devicon-react-original-wordmark skills-icon"></i></span>
          <span><i class="devicon-mongodb-plain-wordmark skills-icon"></i></span>
          <span><i class="devicon-nodejs-plain skills-icon"></i></span>
          <span><i class="devicon-ubuntu-plain skills-icon"></i></span>
        </div>
      </div>
    </div>
  </section>
</main>
