<main class="landing">
  <header>
    <div id="container">
        <canvas id="canvas"></canvas>
      <div id="overlay" class="landing-title">
        <h2>Claudia<br>Cedfeldt</h2>
        <h4>Software Engineer | UI/UX</h4>
        <button ng-click="landingCtrl.scrollDown()" class="btn landing-btn2"><i class="fa fa-angle-down"></i></button>
      </div>
    </div>
  </header>

  <section class="services-container" id="scrollpoint">
    <div class="row">
      <div class="col span-1-of-3">
        <div class="about-icon">
          <i class="fa fa-mobile landing-icon "></i>
          <h4>Front-End Development</h4>
          <p>Building fast, beautiful user experiences using design principles and the latest technologies.</p>
        </div>
      </div>

      <div class="col span-1-of-3">
        <div class="about-icon">
          <i class="fa fa-code-fork landing-icon"></i>
          <h4>Functional Programming</h4>
          <p>Using code to bring visions to life from back end data to front end interactions.</p>
        </div>
      </div>

      <div class="col span-1-of-3">
        <div class="about-icon">
          <i class="fa fa-paint-brush landing-icon"></i>
          <h4>Responsive Design</h4>
          <p>Detail oriented, mobile-first design that translates easily to any device and browser.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="work-container">
    <a href="#/projects"><button class="btn landing-btn">View<br>Projects</button></a>
  </section>

  <section class="skills-container">
    <div class="skills-icon-container clearfix">
      <i class="devicon-javascript-plain skills-icon"></i>
      <i class="devicon-angularjs-plain skills-icon"></i>
      <i class="devicon-react-original-wordmark skills-icon"></i>
      <i class="devicon-mongodb-plain-wordmark skills-icon"></i>
      <i class="devicon-nodejs-plain skills-icon"></i>
      <i class="devicon-ubuntu-plain skills-icon"></i>
    </div>
  </section>
</main>
